
/* about banner section start */
.about__top_section {
    padding-bottom: 0 !important;
}
.about__top_section .btn-group {
    margin-top: min(2.0833vw, 2.5rem);
}
.about__top_section .circle.lg__circle {
    top: -128%;
}
.about__top_section .circle.sm__circle {
    top: -85%;
}
.about__top_section .section_overlay {
    content: "";
    position: absolute;
    z-index: -1;
    top: 75%;
    width: 100%;
    height: 267%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 45.06%);
}
/* about banner section end */

/* who we are section start */
.who__we_are_section {
    position: relative;
    padding-top: min(max(30px, 2.0833vw), 2.5rem);
    padding-bottom: min(max(40px, 3.6458vw), 4.375rem);
}
.who__we_are_section .content__wrap p {
    line-height: 1.75;
}
.who__we_are_section .content__wrap p + p {
    margin-top: min(1.25vw, 1.5rem);
}
.who__we_are_section .section_header .heading {
    margin-bottom: 0.625em;
}

@media only screen and (max-width: 991px) {
    .who__we_are_section .img__wrapper {
        margin-top: 40px;
    }
    .who__we_are_section .row {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 767px) {
    
}
/* who we are section end */


/* legacy section start */
.legacy__section {
    position: relative;
    padding: min(max(40px, 5.2083vw), 6.25rem) 0 min(3.6458vw, 4.375rem);
}
.legacy__section .section_header .heading {
    margin-bottom: 0.625em;
}
.legacy__section .section_header .content__wrap {
    margin-bottom: min(2.6042vw, 3.125rem);
}
.legacy__tab__slider_btn {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    column-gap: 25px;
}
.legacy__tab__slider_btn li.swiper-button-disabled {
    opacity: 0.5;
}
.legacy__tab__slider_btn li a {
    width: min(max(1.5rem, 1.875vw), 2.25rem);
    height: min(max(1.5rem, 1.875vw), 2.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.legacy__tab__slider_btn li a svg {
    width: 90%;
    height: 90%;
}
.legacy__tab__slider_btn li a svg path {
    fill: none;
}
.legacy__item_wrapper {
    margin-left: min(3.6458vw, 4.375rem);
}
.legacy__item {
    column-gap: min(4.6875vw, 5.625rem);
}
.legacy__block {
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: min(21.3542vw, 25.625rem);
    flex: 0 0 auto;
}
.legacy__block.theme-gradient-1 {
    background: linear-gradient(270deg, rgba(13, 176, 43, 0.25) 0%, rgba(40, 170, 226, 0.25) 100%);
}
.legacy__block .img__wrap {
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.legacy__section .custom-container-fluid {
    padding-left: min(6.25vw, 7.5rem);
    --theme-gutter-x: 0;
}
.legacy__section .custom-container-fluid .row {
    --theme-gutter-x: 0;
}
.legacy_list_wrapper {
    overflow: hidden;
    margin-top: min(max(30px, 2.6042vw), 3.125rem);
    /* margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px; */
}
.legacy_list {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    margin: min(max(30px, 4.1667vw), 5rem) 0 0;
    padding: 0;
    column-gap: 2.60417vw;
    padding-top: 30px;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: visible;
}
.legacy_list::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 30px;
    left: 35px;
    right: 0;
    opacity: 0.5;
}
.legacy_list li {
    /* width: calc((100% - 2.60417vw * 6) / 7); */
    flex: 1 1 auto;
    position: relative;
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.legacy_list li a {
    cursor: default;
}
.legacy_list li .dot {
    display: inline-flex;
    position: absolute;
    z-index: 0;
    top: min(max(-19px, -0.9896vw), 1.1875rem);
    /* left: -0.52083vw; */
    width: 2.1875vw;
    height: 2.1875vw;
    align-items: center;
    justify-content: center;
    /* transform: scale(0.90);
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90); */
}
.legacy_list li .dot svg {
    width: 100%;
    height: 100%;
}
.legacy_list li .dot svg path {
    fill: #77A5C7;
}
.legacy_list li .dot svg .main_path {
    fill: #77A5C7;
}
.legacy_list li .dot svg .bg_path {
    fill: none;
}
.legacy_list .dot .circle__wrapper {
    width: 24px;
    height: 24px;
}
.legacy_list .dot .circle__wrapper .circle-2 {
    background: linear-gradient(270deg, rgba(13, 176, 43, 0.5) 0%, rgba(40, 170, 226, 0.5) 100%);
}
.legacy_list .swiper-slide-active .dot .circle__wrapper {
    width: min(max(30px, 2.8125vw), 3.375rem);
    height: min(max(30px, 2.8125vw), 3.375rem);
}
.legacy_list .swiper-slide-active .dot .circle__wrapper .circle-2 {
    background: linear-gradient(270deg, #0DB02B 0%, #28A9E2 100%);
}
.legacy_list li .legacy_content {
    position: relative;
    padding-top: 40px;
}
.legacy_list li .legacy_content .year {
    position: absolute;
    top: -85px;
    font-weight: 600;
    opacity: 0.5;
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.legacy_list .swiper-slide-active li .legacy_content .year {
    position: absolute;
    top: -90px;
    font-weight: 500;
    opacity: 1;
    background: linear-gradient(270deg, #0DB02B 0%, #28A9E2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
     transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.legacy_list li .legacy_content .heading {
    font-weight: 600;
    margin-bottom: .75rem;
    opacity: 0.5;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.legacy_list .swiper-slide-active li .legacy_content .heading {
    font-weight: 400;
    color: var(--theme-black);
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.legacy_list li .legacy_content .content__wrap {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
.legacy_list .swiper-slide-active li .legacy_content .content__wrap {
    opacity: 1;
    visibility: visible;
}
.legacy_list li .approach_content_wrap {
    position: relative;
    padding-top: 40px;
}
.legacy_list li .approach_content_wrap .year {
    position: absolute;
    top: -60px;
    font-size: min(1.0417vw, 1.25rem);
}
.legacy_list li .approach_content_wrap .seperator {
    width: 60px;
    height: 3px;
    background-color: transparent;
}
.legacy_list li a.active .approach_content {
    color: var(--black-color);
}
.legacy_list li a.active .approach_content_wrap .seperator {
    background-color: var(--green-color);
}
.legacy__section .btn-top-row .lg-block {
        /* display: none; */
    }
.legacy__section .btn-bottom-row .sm-block {
        display: none;
    }

@media only screen and (max-width: 1500px) {
    .legacy__section .custom-container-fluid {
        padding-left: min(3.25vw, 2.8125rem);
    }
}
@media only screen and (max-width: 1199px) {
    .legacy__section .custom-container-fluid {
        padding-left: 1.875rem;
    }
    .legacy__item_wrapper {
        margin-left: 0;
    }
    .legacy_list li .legacy_content .year {
        top: -55px;
    }
    .legacy_list .swiper-slide-active li .legacy_content .year {
        top: -60px;
    }
    .legacy__block {
        width: 250px;
    }
}
@media only screen and (max-width: 767px) {
     .legacy__section .custom-container-fluid {
        padding-left: 1.25rem;
    }
    .legacy__section .btn-top-row .lg-block {
        display: none;
    }
    .legacy__section .btn-bottom-row .sm-block {
        display: block;
    }
    .legacy__section .btn-top-row .legacy__tab__slider_btn {
        display: none;
    }
    .legacy__tab__slider_btn {
        margin-top: 30px;
    }
    .legacy__item {
        flex-wrap: wrap;
    }
    .legacy__block {
        width: 100%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .legacy__item_wrapper {
        margin-top: 20px;
    }
}
/* legacy section end */

/* vision mission section start */
.vision__mission_section {
    position: relative;
    padding: min(max(40px,5.2083vw), 6.25rem) 0 min(max(40px,3.6458vw), 4.375rem);
}
.vision__mission_section .section_header .heading {
    margin-bottom: 0.938em;
}
.vision__mission_section .vision_row .vision_col,
.vision__mission_section .vision_row .vision_col + .vision_col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.vision__mission_section .vision_row .vision_col .img__wrapper img {
    object-fit: cover;
}
.vision__mission_section .vision_row .vision_col + .vision_col .content__block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.vision__mission_section .img__wrapper {
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.vision__mission_section .content__block .vision__area,
.vision__mission_section .content__block .mission__area {
    padding: min(max(15px,1.5625vw), 1.875rem) min(max(15px,1.8229vw), 2.1875rem);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100%;
}
.vision__mission_section .content__block .icon__block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    column-gap: min(max(15px, 1.25vw), 1.5rem);
}
.vision__mission_section .content__block .icon__block .img__wrap {
    width: min(max(3.125rem, 4.1667vw), 5rem);
    flex: 0 0 auto;
}
.vision__mission_section .content__block .content__wrap {
    margin-top: min(1.25vw, 1.5rem);
}
.vision__mission_section .content__block > * + * {
    margin-top: 20px;
}

@media only screen and (max-width: 991px) {
    .vision__mission_section .content__block .content__wrap {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px) {

}
/* vision mission section end */

/* our values section start */
.our__value_section {
    position: relative;
    padding: min(max(40px,5.2083vw), 6.25rem) 0 min(max(40px,3.6458vw), 4.375rem);
}
.our__value_section .section_header .heading {
    margin-bottom: 0.625em;
}
.our__value_section .value__wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.our__value_section .value__wrapper .value__tab {
    width: 100%;
    text-align: center;
    padding: min(max(15px, 1.8229vw), 2.1875rem);
    background-color: var(--theme-white);
    box-shadow: 0px 0px 30px 0px rgba(1, 62, 125, 0.10);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.our__value_section .value__wrapper .value__tab .img__wrap {
    width: min(max(50px, 4.4271vw), 5.3125rem);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.our__value_section .value__wrapper .value__tab .heading {
    margin-top: 0.625em;
    position: relative;
    z-index: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.our__value_section .value__wrapper .value__tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    background: linear-gradient(270deg, #0DB02B 0%, #28A9E2 100%);
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
.our__value_section .value__wrapper .value__tab .hover_content {
    position: absolute;
    z-index: 1;
    transform: translateY(35%);
    -webkit-transform: translateY(35%);
    -moz-transform: translateY(35%);
    -ms-transform: translateY(35%);
    -o-transform: translateY(35%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.our__value_section .value__wrapper .value__tab .hover_content ul {
    margin-top: 12px;
    width: min(max(150px, 13.5417vw), 16.25rem);
    margin-left: min(max(10px, 2.3438vw), 2.8125rem);
    text-align: left;
}
.our__value_section .value__wrapper .value__tab .hover_content ul li {
    list-style: disc;
}
.our__value_section .value__wrapper .value__tab .hover_content ul li + li {
    margin-top: min(max(5px, 0.625vw), .75rem);
}
.our__value_section .value__wrapper .value__tab:hover::before {
    opacity: 1;
}
.our__value_section .value__wrapper .value__tab:hover .img__wrap {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}
.our__value_section .value__wrapper .value__tab:hover .heading {
    color: var(--theme-white);
    transform: translateY(-330%);
    -webkit-transform: translateY(-330%);
    -moz-transform: translateY(-330%);
    -ms-transform: translateY(-330%);
    -o-transform: translateY(-330%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.our__value_section .value__wrapper .value__tab:hover .hover_content {
    width: 90%;
    transform: translateY(-95%);
    -webkit-transform: translateY(-95%);
    -moz-transform: translateY(-95%);
    -ms-transform: translateY(-95%);
    -o-transform: translateY(-95%);
}
.our__value_section .value__wrapper .value__tab.active::before {
    opacity: 1;
}
.our__value_section .value__wrapper .value__tab.active .img__wrap {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}
.our__value_section .value__wrapper .value__tab.active .heading {
    color: var(--theme-white);
}
.our__value_section .value__block {
    margin-right: 20%;
}
.our__value_section .value__tab_data {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}
.our__value_section .value__tab_data.tab-active {
    display: block;
    opacity: 1;
}
.our__value_section .value__data_wrapper {
    margin-top: min(1.875vw, 2.25rem);
}
.our__value_section .value__data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    column-gap: min(3.125vw, 3.75rem);
    padding: min(2.8646vw, 3.4375rem) 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    min-height: 200px;
}
.our__value_section .value__data .value__item {
    text-align: center;
    max-width: 218px;
    width: min(11.3542vw, 13.625rem);
}
.our__value_section .value__data .value__item .img__wrap {
    width: min(max(3.125rem, 4.4271vw), 5.3125rem);
    margin-left: auto;
    margin-right: auto;
}
.our__value_section .value__data .value__item .heading {
    margin-top: 1.429em;
}
.our__value_section .sm-block {
        display: none;
    }
.our__value_section .value__item_pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: var(--theme-body-color);
}
.our__value_section .value__item_pagination .swiper-pagination-bullet-active {
    background: var(--theme-primary);
}
.about__value .value__block {
    margin-top: min(2.0833vw, 2.5rem);
}
.about__value .theme-gradient-home {
    background: linear-gradient(270deg, rgb(13, 176, 43, 0.15) 0%, rgb(40, 169, 226, 0.15) 100%);
}

@media only screen and (max-width: 1366px) {
    .our__value_section .value__wrapper .value__tab .hover_content ul {
        margin-left: 20px;
        font-size: 13px;
        width: 100%;
    } 
}
@media only screen and (max-width: 1199px) {
    .our__value_section .value__wrapper .value__tab {
        min-height: 190px;
    }
    .our__value_section .value__wrapper .value__tab .img__wrap {
        margin-top: 15px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
    .our__value_section .value__wrapper .value__tab .hover_content ul {
        margin-left: 10px;
        width: auto;
    }
    .our__value_section .value__wrapper .value__tab .hover_content {
        transform: translateY(60%);
        -webkit-transform: translateY(60%);
        -moz-transform: translateY(60%);
        -ms-transform: translateY(60%);
        -o-transform: translateY(60%);
    }
     .our__value_section .value__wrapper .value__tab:hover .img__wrap {
        margin-top: 0px;
    }
    .our__value_section .value__wrapper .value__tab:hover .heading {
        transform: translateY(-270%);
        -webkit-transform: translateY(-270%);
        -moz-transform: translateY(-270%);
        -ms-transform: translateY(-270%);
        -o-transform: translateY(-270%);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    .our__value_section .value__wrapper .value__tab:hover .hover_content {
        width: 80%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

@media only screen and (max-width: 991px) {
    .our__value_section .value__block {
        margin-bottom: 30px;
    }
    .our__value_section .value__data_wrapper {
        margin-top: 20px;
    }
    .our__value_section .value__data {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 30px;
        padding: 24px;
    }
    .our__value_section .value__data .value__item {
        width: 120px;
    }
    .our__value_section .value__data .value__item .heading {
        margin-top: 12px;
    }
    .about__value .value__block {
        margin-top: 0;
    }
    .our__value_section .value__wrapper .value__tab .hover_content {
        transform: translateY(80%);
        -webkit-transform: translateY(80%);
        -moz-transform: translateY(80%);
        -ms-transform: translateY(80%);
        -o-transform: translateY(80%);
    }
    .our__value_section .value__wrapper .value__tab .hover_content ul {
        margin-left: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .our__value_section .value__block {
        margin-right: 0px;
    }
    .our__value_section .lg-block {
        display: none;
    }
    .our__value_section .sm-block {
        display: block;
        overflow: hidden;
    }
    .our__value_section .value__wrapper {
        margin-bottom: 20px;
    }
    .our__value_section .value__item_pagination {
        text-align: center;
    }
    .value__tab_slider {
        overflow: visible;
    }
    .our__value_section .value__wrapper .value__tab .hover_content ul {
        font-size: 16px;
        margin-left: 40px;
    }
    .our__value_section .value__wrapper .value__tab:hover .heading {
        transform: translateY(-230%);
        -webkit-transform: translateY(-230%);
        -moz-transform: translateY(-230%);
        -ms-transform: translateY(-230%);
        -o-transform: translateY(-230%);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}
}
/* our values section end */

/* group company section start */
.grp__company_section {
    position: relative;
    padding: min(max(40px, 5.2083vw), 6.25rem) 0 min(max(10px, 2.6042vw), 3.125rem);
    overflow: hidden;
}
.grp__company_section .award__content {
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: calc(100% - min(1.875vw, 2.25rem));
    margin-left: auto;
    margin-right: auto;
    min-height: 190px;
    position: relative;
    top: min(-3.125vw, -3.75rem);
}
.award__content .heading {
    margin-bottom: 12px;
}
.award__slider_btn {
    column-gap: min(2.3438vw, 2.8125rem);
}
.grp__company_section .grp__company_block .primary_btn {
    margin-top: min(max(20px, 2.0833vw), 2.5rem);
}
.grp__company_section .grp__company_slider_wrap {
    position: relative;
    right: min(-3.125vw, -3.75rem);
}
.grp__company_section .grp__company_slider {
    width: 100%;
}
.grp__company_section .single__item {
    width: 100%;
}
.grp__company_section .single__item .img__wrap {
    overflow: hidden;
    max-height: 340px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grp__company_section .single__item .img__wrap img {
    width: 100%;
}
.grp__company_slider .award__content .heading {
    min-height: 52px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.grp__company_section .award__content .content__wrap p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.grp__company__slider_btn {
    position: relative;
    z-index: 1;
    top: -20px;
    column-gap: min(max(20px, 2.3438vw), 2.8125rem);
}
.grp__company__slider_btn li a {
    width: min(max(2.5rem, 2.8125vw), 3.375rem);
}
.grp__company__slider_btn li a svg {
    width: 98%;
}
.grp__company__slider_btn li.disable a svg rect {
    stroke: var(--theme-body-color);
}
.grp__company__slider_btn li.disable a svg path {
    fill: var(--theme-body-color);
}

@media only screen and (max-width: 1440px) {
    .grp__company_section .grp__company_slider_wrap {
        right: -20px;
    }
}
@media only screen and (max-width: 1199px) {
    .grp__company_section .grp__company_slider_wrap {
        right: 0px;
    }
}
@media only screen and (max-width: 991px) {
    .grp__company_section .grp__company_block {
        margin-bottom: 30px;
    }
}
/* group company section end */

/* global presence section start */
.global__presence_section {
    position: relative;
    padding: min(5.2083vw, 6.25rem) 0 0;
    overflow: hidden;
}
.global__presence_section .section_header .heading {
    margin-bottom: 0.625em;
}
.global__map_wrapper {
    margin-top: min(10.4167vw, 12.5rem);
}
.global__map_wrapper .global__map {
    position: relative;
    max-width: 1560px;
    width: min(81.25vw, 97.5rem);
    margin-left: auto;
    margin-right: auto;
}
.global__map_wrapper .global__map .location {
    position: absolute;
}
.global__map_wrapper .global__map .location-1 {
    top: 24.5%;
    left: 19.25%;
}
.global__map_wrapper .global__map .location-2 {
    top: 14%;
    right: 44.44%;
}
.global__map_wrapper .global__map .location-3 {
    top: 32.8%;
    right: 35%;
}
.global__map_wrapper .global__map .location-4 {
    top: 52.4%;
    right: 42%;
}
.global__map_wrapper .global__map .location_map > img {
    width: min(max(40px, 3.125vw), 3.75rem);
    height: min(max(40px, 3.125vw), 3.75rem);
}
.location__details {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.location__msg {
    position: absolute;
    left: -170%;
    bottom: 157%;
    bottom: 100%;
    min-width: 280px;
    box-shadow: -15.033px 9.567px 41.683px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    background-color: var(--theme-white);
    text-align: left;
}
.location__msg .heading {
    margin-bottom: 12px;
}
.global__map_wrapper .global__map .location:hover .location__details {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

@media only screen and (max-width: 1199px) {
    .global__map_wrapper .global__map {
        width: 100%;
        max-width: 100%;
    }
    .global__map_wrapper .global__map .location_map > img {
        width: 30px;
        height: 30px;
    }
   .location__msg {
        min-width: 225px;
        left: -320%;
        padding: 15px;
    }
    .location__details {
        bottom: 100%;
    }
    .location_pin {
        height: 40px;
    }
    .location_pin img {
        height: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .global__map_wrapper {
        margin-top: 0;
        padding-top: 140px;
        overflow-x: auto;
    }
    .global__map_wrapper .global__map {
        width: 150%;
        max-width: 150%;
    }
    .global__map_wrapper .global__map .location_map > img {
        width: 30px;
        height: 30px;
    }
    .location__msg {
        min-width: 240px;
        bottom: 100%;
        left: -250%;
        padding: 15px;
    }
    .location__details .location_pin {
        height: 40px;
    }
    .location__details .location_pin img {
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .global__map_wrapper {
        padding-top: 150px;
    }
    .global__map_wrapper .global__map {
        width: 250%;
        max-width: 250%;
    }
    .global__map_wrapper .global__map .location_map > img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 575px) {
    .office-map .location__msg {
        left: -310%;
        padding: 12px;
    }
    .location__msg .heading {
        margin-bottom: 6px;
    }
    .location_pin {
        height: 30px;
    }
    .location_pin img {
        height: 100%;
    }
}
/* global presence section end */


/* sustainability section start */
.sustainability_section {
    position: relative;
    padding: min(max(80px,5.2083vw), 6.25rem) 0 min(max(40px, 4.1667vw), 5rem);
}
.sustainability_section .section_header .heading {
    margin-bottom: 0.625em;
}
.sustainability_section .content__wrap {
    margin-bottom: min(max(20px, 2.0833vw), 2.5rem);
}
.sustainability_section .content__wrap p {
    line-height: 1.75;
}
.sustainability_section .sustain_img__wrapper {
    position: relative;
    text-align: center;
    padding-left: 35px;
}
@media only screen and (max-width: 1199px) {
    .sustainability_section .sustain_img__wrapper {
        padding-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .sustainability_section .sustain_img__wrapper {
        margin-top: 30px;
    }
}
/* sustainability section end */

/* corporate film section start */
.corporate__film_section {
    position: relative;
    padding: min(4.1667vw, 5rem) 0 min(max(40px, 3.6458vw), 4.375rem);
}
.film__wrapper {
    padding: min(max(30px, 2.6042vw), 3.125rem) 0 min(max(40px, 8.8542vw), 10.625rem);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.film__wrapper .section_header {
    padding: 0 20px;
}
.film__video {
    position: relative;
    padding-left: min(6.25vw, 7.5rem);
    padding-right: min(6.25vw, 7.5rem);
    margin-top: -6%;
}
.film__video .video__container {
    height: max(300px, min(41.6667vw, 50rem));
}

@media only screen and (max-width: 767px) {
    .film__wrapper .section_header {
        margin-bottom: 20px;
    }
    .film__video {
        margin-top: -10%;
    }
}
/* corporate film section end */



/* trusted section start */
.trusted__section {
    position: relative;
    padding: min(max(40px, 5.2083vw), 6.25rem) 0 min(max(40px, 3.6458vw), 4.375rem);
}
.trusted__bg_wrapper {
    position: relative;
}
.trusted__section .section_bg {
    position: absolute;
    z-index: -1;
    width: 98%;
    height: 100%;
    top: 10%;
    right: 0;
    background: linear-gradient(270deg, rgba(13, 176, 43, 0.15) 0%, rgba(40, 170, 226, 0.15) 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.trusted__section .trusted__area {
    margin-bottom: min(max(1.25rem, 2.6042vw), 3.125rem);
    padding-left: min(5.2083vw, 6.25rem);
    padding-right: min(4.2083vw, 5.25rem);
}
.trusted__section .trusted__area .trusted_col {
    /* align-self: flex-end; */
}
.trusted__section .section_header .heading {
    margin-bottom: 0.833em;
}
.trusted__section .trusted__area .content__wrap {
    margin-bottom: min(max(20px, 2.3438vw), 2.8125rem);
}
.trusted__section .trusted__area .content__wrap p {
    line-height: 1.75;
}
.trusted__section .video__container {
    height: min(max(300px, 27.0833vw), 32.5rem);
}
.trusted__section .video__container .video__overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
}
.trusted__section .trusted__content {
    margin-top: min(max(20px, 1.3021vw), 1.5625rem);
}
.trusted__section .trusted__client {
    width: 95%;
    margin-left: auto;
    margin-top: min(max(30px, 2.8646vw), 3.4375rem);
}
.trusted__section .trusted__slider .swiper-wrapper {
    transition-timing-function: linear !important;
    pointer-events: none;
  }

@media only screen and (max-width: 1440px) {
   .trusted__section .section_header .heading {
        margin-bottom: 0.538em;
    }
}
@media only screen and (max-width: 1199px) {
   .trusted__section .trusted__area {
        padding-left: 10px;
        padding-right: 10px;
   }
   .trusted__section .section_bg {
        top: 5%;
        height: 110%;
   }
   .trusted__section .play__btn_wrap {
        width: 80px;
        height: 80px;
   }
}
@media only screen and (max-width: 991px) {
    .trusted__section .trusted__area {
        margin-bottom: 0;
    }
   .trusted__bg_wrapper .row.align-items-end {
        align-items: flex-start;
   }
   .trusted__section .section_bg {
        top: -5%;
        width: 100%;
   }
   .trusted__section .trusted__video {
        padding-left: 20px;
   }
   .trusted__section .trusted__content {
        padding-left: 20px;
        padding-right: 20px;
   }
}

@media only screen and (max-width: 767px) {
    .trusted__section {
        padding-bottom: 80px;
    }
    .trusted__section .trusted__video {
        padding-right: 20px;
   }
    .trusted__section .trusted__content {
        margin-bottom: 20px;
    }
    .trusted__section .trusted__client {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* trusted section end */

/* resource section start */
.about__resource_section {
    padding-top: min(max(40px, 8.8542vw), 10.625rem);
    padding-bottom: min(max(10px, 1.5625vw), 1.875rem);
    margin-top: 0;
}
.about__resource_section .item__wrap .single__item .top__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: min(max(20px, 1.5625vw), 1.875rem);
    row-gap: 10px;
    margin-bottom: 20px;
}
.about__resource_section .item__wrap .single__item .top__block .list-unstyled {
    column-gap: min(max(.625rem, 1.0417vw), 1.25rem);
}

.about__resource_section .item__wrap .single__item .top__block .heading {
    margin-bottom: 0;
    /* font-size: inherit; */
}
.about__resource_section .item__wrap .single__item .list-unstyled li + li::before {
    left: -13px;
}
.about__resource_section .item__wrap .single__item .top__block .publish__date {
    margin-bottom: 0;
}
.about__resource_section .item__wrap .single__item .content__wrap .heading {
    margin-bottom: 0.75rem;
    line-height: 1.6;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: min(4.9479vw, 5.9375rem);
}
.about__resource_section .item__wrap .single__item .content__wrap p {
    margin-bottom: 30px;
    line-height: 1.75;
}

@media only screen and (max-width: 1440px) {
    .about__resource_section .item__wrap .single__item .list-unstyled li + li::before {
        left: -11px;
    }
}
@media only screen and (max-width: 1366px) {
    .about__resource_section .item__wrap .single__item .list-unstyled li + li::before {
        left: -10px;
    }
}
@media only screen and (max-width: 1199px) {
    .about__resource_section .item__wrap .single__item .list-unstyled li + li::before {
        left: -8px;
    }
}
@media only screen and (max-width: 991px) {
    .about__resource_section .section_header .btn-group {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .about__resource_section .post__wrapper .swiper-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
     .about__resource_section .post__wrapper .swiper-slide {
        /* margin-right: 10px; */
     }
     .about__resource_section .custom-container-fluid {
        --theme-gutter-x: 1.875rem;
    }
}
@media only screen and (max-width: 390px) {
    .about__resource_section .section_header .btn-group {
        justify-content: flex-start;
    }
}
/* resource section end */